.env
.env.local
.env.*.local
.DS_Store
npm-debug.log*
dist/
build/
android/.gradle/
android/build/
android/local.properties
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/.idea/
android/*.iml
ios/
ios/**/*.xcworkspace/
ios/**/Pods/
ios/**/DerivedData/
ios/**/build/
node_modules/
*.apk
*.aab
*.ipa
*.dSYM
*.jks
*.keystore